---
import AdminLayout from '../../../layouts/AdminLayout.astro';
import Composer from '../../../components/admin/Composer';
export const prerender = false;
---

<AdminLayout title="New post">
  <div class="admin-container">
    <Composer client:only="react" />
  </div>
</AdminLayout>
